In [2]:
import sys, os
import pandas as pd

import plotly.graph_objects as go
import quickplotter

ImportError: cannot import name 'QuickPlotter' from partially initialized module 'quickplotter' (most likely due to a circular import) (/usr/local/lib/python3.8/site-packages/quickplotter/__init__.py)

In [2]:
df = pd.read_csv('dengue_features_train.csv')
display(df.head(5))
df_clean = pd.read_csv('dengue_features_train_CLEAN.csv').dropna()
df_clean = clean.clean(df, categorical=True)
df

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

/Users/julian/Documents/Projects/InstantEDA/quickplotter/cleaning/clean.py:43: UserWarning: Column city is likely categorical, creating dummies... run with categorical=False or categorical_subset=[column names] to disable warning
  warnings.warn(
/Users/julian/Documents/Projects/InstantEDA/quickplotter/cleaning/clean.py:43: UserWarning: Column weekofyear is likely categorical, creating dummies... run with categorical=False or categorical_subset=[column names] to disable warning
  warnings.warn(

ValueError: No value is repeated more than once in the column

In [ ]:
plotter = quickplotter.QuickPlotter(df, categorical_subset=['city'])
dir(plotter)

In [ ]:
# plotter.common()

## New plot testing

This section is for experimenting with new plots for the library

In [ ]:
import plotly.graph_objects as go
import plotly.express as px
import plotly.figure_factory as ff

In [ ]:
fig = ff.create_distplot([plotter.df_clean['ndvi_ne'], plotter.df_clean['ndvi_nw']], ['ndvi_ne', 'ndvi_nw'])
fig.update_layout(title={
                'text': 'Distribution Plot',
                'x': 0.5,
                'xanchor': 'center',
                'yanchor': 'top'
            }
)
fig.show()

In [ ]:
dir(fig.layout.yaxis)

In [ ]:
l = [plotter.df_clean[i] for i in plotter.df_clean.columns]
# ff.create_distplot(l, list(plotter.df_clean.columns))
plotter.df_clean.dtypes

In [ ]:
ff.create_distplot([plotter.df_clean[i] for i in list(plotter.df_clean.columns)], list(plotter.df_clean.columns))